//                 |                   
//     __|   _ \   |   _ \    __|  __| 
//    (     (   |  |  (   |  |   \__ \ 
//   \___| \___/  _| \___/  _|   ____/ 
//                                   

//brand colors
$color-primary-brand:#ebebeb;
$color-secundary-brand:#98CA3D;

//basic colors
$color-primary:#007bff;
$color-secundary: #6c757d;
$color-success:#28a745;
$color-danger:#dc3545;
$color-warning:#ffc107;
$color-info:#17a2b8;

//text
$color-black: black;
$color-white: white;
$color-light: #f8f9fa;
$color-ebeb: #ebebeb;