//                _)      | 
//     _` |   __|  |   _` | 
//    (   |  |     |  (   | 
//   \__, | _|    _| \__,_| 
//   |___/                  

//cols
$grid-width: 100%;
$grid-width-md: 720px;
$grid_width-lg: 960px;
$grid-width-xl: 1140px;

// $grid-width-md: 100%;
// $grid-width-lg: 100%;
// $grid-width-xl: 100%;

$grid-break-md: 100%;
$grid-break-lg: 100%;
$grid-break-xl: 100%;

$grid-cols: 12;
$grid-medianil: 5px;
$grid-row: 0px;